@model IEnumerable<Dulcepastel.Models.utility.structView.GenericView>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Tipo de Documento
            </th>
            <th>
                N° Documento
            </th>
            <th>
                Dirección
            </th>
            <th>
                Celular
            </th>
            <th>
                Telefono Fijo
            </th>
            <th>
                Email
            </th>
            <th>
                Fecha de Nacimiento
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Value1
            </td>
            <td>
                @item.Value2
            </td>
            <td>
                @item.Value3
            </td>
            <td>
                @item.Value4
            </td>
            <td>
                @item.Value5
            </td>
            <td>
                @item.Value6
            </td>
            <td>
                @item.Value7
            </td>
            <td>
                @item.Value8
            </td>
            <td>
                @item.Value9
            </td>
            <td>
                @{string fecha = item.Value10?.ToString() ?? "";
                    fecha = fecha == "" ? fecha : fecha.Substring(0, 10);}
                @fecha
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Value1">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Value1">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Value1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
